header{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 30px;
    margin-bottom: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
    margin-left: 100px;
    margin-right: 100px;
}



img{
    height: 180px;
    width: 100px;
    border: solid rgb(255, 255, 255) 5px;

}

section{
    display: flex;
    margin: 5px;
    justify-content: center;
    padding: 50px;
    
    

}

figcaption{
    text-align: center;
    
}


.div1{
    border: solid 2px black;
    text-align: center;
    max-height: 1000px;
    max-width: 200px;
    margin-left: 20px;
    justify-content: center;
    transform: scale(1) ;
     
}

footer{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 12px;
    margin-bottom: 1px;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: large ;
    margin-left: 100px;
    margin-right: 100px;
}

body{
    background-color: wheat;
}
@media(max-width:800px) {
    .div1{
        background-color: rgb(255, 0, 0);
        display: inline-block;
    }
    section{
        display: inline-block;
    }
    
}